.datalist {
  padding: 7px;
  border-radius: 0px;
}
.datalist_card {
  position: relative;
  margin: 2px;
}
.datalist_duration {
  position: absolute;

  right: 0;
  margin-top: -30px;
  margin-right: 5px;
  margin-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(41, 41, 41);
  color: white;
}

.datalist_title {
  position: relative;
  max-height: 150px;
  font-family: "Roboto","Arial",sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  -webkit-line-clamp: 3;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}
.datalist_created_at {
  margin: 10px;
  text-align: right;
}
.datalist_gotolink {
  text-align: right;
}
.datalist_views {
  text-align: left;
}