.adv1 {
  margin-top: 10px;
}
.adv1_group {
  background-color: rgb(241, 241, 241);
  text-align: center;
  height: 250px;
}
.adv2 {
}
.adv2_group {
  background-color: rgb(241, 241, 241);
  text-align: center;
  height: 250px;
}