.all_search_searchField {
  text-align: center; 
}
.all_search_textfield {
  width: 80vw;
  margin-top: 100px;
}
.all_search_search_button {
  text-align: center;
}
.all_search_search_button_button {
  text-align: center;
  width: 30vw;
} 