.categories_scroll_nav {
  margin-top: 50px;
}

.categories_scroll_nav::-webkit-scrollbar {
  display:none;
}

.categories_ul{
  list-style-type: none;
  padding: 0 auto;
  text-align: center;
}
.categories_list {
  display: inline;
  padding: 0;
  margin: 0;
  float: left;
}
.categories_list_a {
  display: block;
  border: 1px solid #666;
  border-radius: 20px;
  color: rgb(73, 73, 73);
  background-color: rgb(82, 255, 203);
  text-decoration: none;
  width: 100%;
  margin: 1px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 550;
}

/* tag styles */
.categories_tag{
  margin: 0 auto;
  width: 115px;
  font-size: 14px;
  text-align: center;
  position: relative;
  padding: 0.2em 1.5em;
  border-top: solid 1px rgb(0, 0, 0);
  border-bottom: solid 1px rgb(0, 0, 0);
}
.categories_tag:before, .categories_tag:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 1px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: rgb(0, 0, 0);
}
.categories_tag:before {
  left: 10px;
}
.categories_tag:after {
  right: 10px;
}
.categories_tag p {
  margin: 0; 
  padding: 0;
}