/* TopCategories styles */
.topcategories__grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 100%;
  background-color: rgb(235, 235, 235);
}

.topcategories__card {
  position: relative;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  min-width: 300px;
  min-height: 195px;
  background-color: white;
}

.topcategories__card:hover,
.topcategories__card:focus,
.topcategories__card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.topcategories__strong {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.topcategories__link {
  position: absolute;
  display: block;
}

.topcategories__card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


@media (max-width: 600px) {
  .topcategories__grid {
    width: 100%;
    flex-direction: column;
  }
}