.header_root {
}
.header_menuBar {
  height: 40px;
  background-color: rgb(24, 151, 255);
}
.header_left {
  margin-bottom: 18px;
}
.header_right_text {
  text-align: right;
}
.heading {
}
.container {
}
.header_right {
}
.header_right_text {
}